In [22]:
# HIDE
import pandas as pd
import numpy as np
np.random.seed(7)
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="white", palette=[sns.color_palette('muted')[i] for i in [0,2]], 
        color_codes=True, context="talk")
from IPython import display
%matplotlib inline

import sklearn as sk
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.utils.class_weight import compute_class_weight  # Estimate class weights for unbalanced datasets
from sklearn.feature_selection import mutual_info_classif

# import keras as ke
# import keras.backend as K
import tensorflow as tf
from tensorflow.keras.layers import Input, Dense, Dropout
from tensorflow.keras.models import Model

create_gif = False

print(f"sklearn: {sk.__version__}")
print(f"pandas: {pd.__version__}")
print(f"tensorflow: {tf.__version__}")

sklearn: 1.1.2
pandas: 1.4.3
tensorflow: 2.10.0

In [50]:
column_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 
                'marital_status', 'occupation', 'relationship', 'race', 'sex', 
                'capital_gain', 'capital_loss', 'hours_per_week', 'country', 'target']

input_data = (pd.read_csv('E:/canada syntex/Github/fair_classifier_ml/data/adult.data', names=column_names, 
                              na_values="?", sep=r'\s*,\s*', engine='python') # here seperator -- 0 or more whitespace then , then 0 or more whitespace --
                              .loc[lambda df: df['race'].isin(['White', 'Black'])])

input_data = input_data.dropna()    
print(input_data.shape)

(28750, 15)

### creating dataset for white race

In [48]:
white_data = input_data[(input_data["race"]=="White")].drop(columns=['target', 'race', 'sex'])
print(white_data.shape)
white_data.head().T

(25933, 12)

,0,1,2,5,7
age,39,50,38,37,52
workclass,State-gov,Self-emp-not-inc,Private,Private,Self-emp-not-inc
fnlwgt,77516,83311,215646,284582,209642
education,Bachelors,Bachelors,HS-grad,Masters,HS-grad
education_num,13,13,9,14,9
marital_status,Never-married,Married-civ-spouse,Divorced,Married-civ-spouse,Married-civ-spouse
occupation,Adm-clerical,Exec-managerial,Handlers-cleaners,Exec-managerial,Exec-managerial
relationship,Not-in-family,Husband,Not-in-family,Wife,Husband
capital_gain,2174,0,0,0,0
capital_loss,0,0,0,0,0
hours_per_week,40,13,40,40,45
country,United-States,United-States,United-States,United-States,United-States

In [ ]:
mut_race = mutual_info_classif(X, Z['race'])

### creating dataset for black race

In [49]:
black_data = input_data[(input_data["race"]=="Black")].drop(columns=['target', 'race', 'sex'])
print(black_data.shape)
black_data.head().T

(2817, 12)

,3,4,6,10,13
age,53,28,49,37,32
workclass,Private,Private,Private,Private,Private
fnlwgt,234721,338409,160187,280464,205019
education,11th,Bachelors,9th,Some-college,Assoc-acdm
education_num,7,13,5,10,12
marital_status,Married-civ-spouse,Married-civ-spouse,Married-spouse-absent,Married-civ-spouse,Never-married
occupation,Handlers-cleaners,Prof-specialty,Other-service,Exec-managerial,Sales
relationship,Husband,Wife,Not-in-family,Husband,Not-in-family
capital_gain,0,0,0,0,0
capital_loss,0,0,0,0,0
hours_per_week,40,40,16,80,50
country,United-States,Cuba,Jamaica,United-States,United-States

In [31]:
mut_race = mutual_info_classif(X, Z['race'])
mut_sex = mutual_info_classif(X, Z['sex'])
print(mut_race.shape)
print(mut_sex.shape)

(89,)
(89,)

In [ ]:
# for i, row in X.iterrows():
#     print(i, row)
#     break